<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>localhost</ServerName><LauncherName></LauncherName><ExternalBrowser>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</ExternalBrowser><UseStartPage>false</UseStartPage><Mappings></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion9</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>